body {
  background-color: #000;
  font-family: 'Montserrat';
  font-size: 16px;
}

.active-menu {
  border-bottom: 1px solid var(--color-principal);
}


/* LAYOUT */
.layout {
  background-color: #fff;
  min-height: 100%;
}

/* HEADER */
.layout-header {
  position: sticky;
  top: -120px;
  width: 100%;
  z-index: 9;
}

.header-logos {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  background-color: var(--color-secondary);
  padding: var(--pd-y-header) var(--pd-x-header-foot);
  height: 80px;
}

.header-logos-logo {
  height: 30px;
}

.header-icons {
  background-color: var(--color-principal);
  padding: 9px var(--pd-x-header-foot);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1rem;
  height: 40px;

}

.header-icons-icon {
  height: 20px;
}
.header-icons-icon-sm {
  height: 16px;
}

.header-menu {
  background-color: var(--color-secondary);
  padding: var(--pd-y-header) var(--pd-x-header-foot);
  opacity: 0.88;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.header-menu-empresa * {
  color: var(--color-principal);
}

.header-menu-empresa-textlg {
  font-size: 36px;
  font-weight: 700;
}

.header-menu-empresa-textmd {
  font-size: 18px;
  font-weight: 500;
}

.header-menu__list {
  display: flex;
  gap: 2rem;
}

.header-menu__link {
  color: var(--color-principal);
  font-family: var(--font-bebas-bold);
  font-size: 25px;
  cursor: pointer;
}

/* CONTENT */
.layout-content {
  background-color: var(--color-secondary);
}

/* CONTENEDOR - INICIO */
/* INICIO - INIT */
.init-home {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  background-image: url('../img/img/landingpage/inicio.jpg');
  /* background-attachment: fixed; */
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  padding: 0px var(--pd-content-layout) 80px var(--pd-content-layout);
  margin-bottom: var(--mgb-content);
}

.init-home-titles {
  text-align: center;
}

.init-home-titles-text {
  color: var(--color-secondary);
  font-family: var(--font-bebas-bold);
  font-size: 55px;
  font-weight: 600;
}

.init-home-flechas {
  display: flex;
  gap: 19px;
  margin-top: 4rem;
}

.init-home-flechas-flecha {
  width: 12px;
  height: 55px;
  background-color: var(--color-flecha);
  border-radius: 10px;
  cursor: pointer;
  transform: rotate(90);
}

.init-home-flechas-flecha--left {
  transform: rotate(-45deg);
}

.init-home-flechas-flecha--rigth {
  transform: rotate(45deg);
}

/* INICIO - BIENVENIDA */
.init-welcome {
  padding: 0px var(--pd-content-layout);
  margin-bottom: var(--mgb-content);
}

.init-welcome-content {
  max-width: var(--width-content-layout);
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.init-welcome-info {
  flex-basis: 40%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.8rem;
  padding-bottom: 0.5rem;
}

.init-welcome-info-logo-img {
  height: 90px;
}

.init-welcome-info-titulos-titulo {
  font-family: var(--font-bebas-bold);
  font-size: 25px;
  line-height: 1.1;
}

.init-welcome-info-titulos-titulo:first-child {
  margin-bottom: 0.5rem;
}

.init-welcome-info-card {
  position: relative;
  left: calc(-1 * var(--pd-content-layout));
}

.init-welcome-info-subtitulo {
  font-size: 11px;
  font-weight: 400;
}

.init-welcome-imagen {
  flex-basis: 60%;
  display: flex;
  align-items: flex-end;
}

.init-welcome-imagen-img {
  object-fit: cover;
}

/* INICIO - SLIDER */
.inicio__slider {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
  margin-bottom: var(--mgb-content);
}

.slider__content {
  width: inherit;
  height: inherit;
}

.slider__radio {
  visibility: hidden;
  display: none;
}

.slider__content .slider__radio:nth-child(1):checked~.slider__buttons .slider__button:nth-child(1),
.slider__content .slider__radio:nth-child(2):checked~.slider__buttons .slider__button:nth-child(2),
.slider__content .slider__radio:nth-child(3):checked~.slider__buttons .slider__button:nth-child(3),
.slider__content .slider__radio:nth-child(4):checked~.slider__buttons .slider__button:nth-child(4),
.slider__content .slider__radio:nth-child(5):checked~.slider__buttons .slider__button:nth-child(5) {
  background-color: var(--color-principal);
}

.slider__buttons {
  position: absolute;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
  bottom: 50px;
}

.slider__button {
  width: 20px;
  height: 20px;
  background-color: #fff;
  border-radius: 50%;
  opacity: 1;
  cursor: pointer;
  z-index: 1;
  transition: 300ms ease-in-out;
}

.slider__button:hover {
  scale: 1.2;
}

.slider__items {
  position: relative;
  width: 500vw;
  height: inherit;
  display: flex;
  transition: 400ms ease-in-out;
}

.slider__item {
  position: relative;
  width: 100vw;
  height: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: #fff;
}

.slider__item--one {
  background-image: url('../img/img/landingpage/slider/slider1.jpg');
}

.slider__item--two {
  background-image: url('../img/img/landingpage/slider/slider2.jpg');
}

.slider__item--three {
  background-image: url('../img/img/landingpage/slider/slider3.jpg');
}

.slider__item--four {
  background-image: url('../img/img/landingpage/slider/slider4.jpg');
}

.slider__item--five {
  background-image: url('../img/img/landingpage/slider/slider5.jpg');
}

.slider__content .slider__radio:nth-child(1):checked~.slider__items {
  left: 0;
}

.slider__content .slider__radio:nth-child(2):checked~.slider__items {
  left: -100vw;
}

.slider__content .slider__radio:nth-child(3):checked~.slider__items {
  left: -200vw;
}

.slider__content .slider__radio:nth-child(4):checked~.slider__items {
  left: -300vw;
}

.slider__content .slider__radio:nth-child(5):checked~.slider__items {
  left: -400vw;
}

.slider__content2 {
  height: 100%;
  width: 100%;
  max-width: var(--width-content-layout);
  margin: 0 auto;
}

.slider__content2__info {
  width: 300px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.slider__content2__img {
  width: 100px;
  height: 100px;
}

.slider__content2__titulo {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  line-height: 1.2 !important;
}

.slider__content2__titulo:last-child {
  padding-bottom: 5px;
}

.slider__content2__subtitulos {
  max-width: 200px;
  margin-top: 1rem;
}

.slider__content2__subtitulo {
  color: var(--color-terciario);
  font-size: 11px;
  font-weight: 600;
}

/* SOBRE LA PLATAFORMA */
.content__sobre {
  max-width: var(--width-content-layout);
  padding: 0px var(--pd-content-layout);
  margin: 0 auto;
}

/* SOBRE - HEADER */
.sobre-header {
  margin-bottom: 50px;
  text-align: center;
}

.sobre-header-imagen {
  margin-bottom: 1rem;
}

.sobre-header-img {
  height: 90px;
  display: inline-block !important;
}

.sobre-header-titulo {
  font-family: var(--font-bebas-bold);
  font-size: 25px;
  font-weight: 600;
  padding: 0 8px;
}

/* SOBRE - ACORDION */
.sobre__acordion {
  margin-bottom: var(--mgb-content);
}

.acordion__content__acordion {
  -webkit-box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.03);
  -moz-box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.03);
  box-shadow: 0px 0px 18px 12px rgba(0, 0, 0, 0.03);
  background-color: #fff;
  padding: 1.5rem 3.5rem;
}



/* **************** */
/* ACORDION ONE */
.acordion-one-data {
  display: flex;
  gap: 1rem;
}

.acordion-one-data-info {
  flex-basis: 60%;
}

.acordion-one-data-imagen {
  flex-basis: 40%;
  background-image: url('../img/img/landingpage/sobre1.jpg');
}

.acordion-one-data-info-msj {
  margin-top: 1rem;
  display: flex;
  gap: 1rem;
}

.acordion-one-data-info-msj-img {
  width: 75px;
  height: 75px;
}

.acordion-one-data-info-msj-text {
  font-size: var(--fonst-size-mensaje);
  color: var(--color-resaltar);
  font-weight: 400;
  line-height: 1.3;
}

/* ACORDION TWO */
.acordion-two {
  display: flex;
  gap: 1rem;
}

.acordion-two-imagen {
  flex-basis: 45%;
  background-image: url('../img/img/landingpage/sobre2.jpg');
}

.acordion-two-data {
  flex-basis: 55%;
}

/* ACORDION THREE */
.acordion-three-indice {
  margin-bottom: var(--mgb-sepacion2);
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.acordion-three-indice-data {
  flex-basis: 64%;
}

.acordion-three-indice-imagen {
  flex-basis: 36%;
  background-image: url('../img/img/landingpage/sobre3.jpg');
}

.acordion-three-alert {
  display: flex;
}

.acordion__three__list {
  counter-reset: li;
  list-style: none;
  padding: 0;
  margin: 0 0 0 3rem;
}

.acordion__three__item {
  font-size: var(--fonst-size-acordion);
  margin-bottom: var(--mgb-list-item);
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 1rem;
  font-weight: 600;
}

.acordion__three__item__span {
  font-size: var(--font-size-article);
  line-height: 1.4;
}

.acordion__three__item::before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  top: 0;
  left: -1.5rem;
  color: #fff;
  background: var(--color-resaltar);
  font-weight: bold;
  text-align: center;
  border-radius: 50%;
  font-size: 0.7rem;
  height: 1.2rem;
  width: 1.2rem;
  line-height: 1.2rem;
}

.acordion__three__list4 {
  counter-reset: li;
  list-style: none;
}

.acordion__three__item4 {
  position: relative;
  margin: 0 0 0 1rem;
  margin-top: var(--mgb-list-item);
  margin-bottom: var(--mgb-list-item);
  display: flex;
  justify-content: space-between;
  gap: 8px;
}
.acordion__three__item4 *{
  font-size: var(--font-size-article);
}

.acordion__three__item4::before {
  position: absolute;
  left: -1rem;
  content: '4.' counter(li) ' ';
  counter-increment: li;
  color: var(--color-resaltar);
  font-weight: 600;
}

.acordion-three-resumen1 {
  margin-bottom: var(--mgb-sepacion2);
}

.acordion-three-resumen1-title {
  font-size: var(--font-size-subtitle);
  font-weight: 600;
}

.resumen1__item {
  color: var(--color-principal);
  font-weight: 700;
  font-size: var(--font-size-subtitle);
}

.acordion-three-resumen2-info {
  margin-bottom: 2rem;
  padding-left: 36px;
  display: flex;
  gap: 1rem;
}

.acordion-three-resumen2-info-imagen {
  flex-basis: 50%;
}

.resumen2-info-imagen--img1 {
  background-image: url('../img/img/landingpage/sobre3-4-1.jpeg');
}

.resumen2-info-imagen--img2 {
  background-image: url('../img/img/landingpage/sobre3-4-2.jpg');
}

.resumen2-info-imagen--img3 {
  background-image: url('../img/img/landingpage/sobre3-4-4.jpg');
}

.acordion-three-resumen2-info-data {
  flex-basis: 50%;
}

.acordion-three-resumen2-info-data-card {
  display: block;
}

/* ACORDION FOUR */
.acordion-four-resumen {
  margin-bottom: var(--mgb-sepacion2);
}

.acordion-four-resumen-data {
  display: flex;
  gap: 1rem;
}

.acordion-four-resumen-info {
  flex-basis: 50%;
}

.acordion-four-resumen-data-imagen {
  flex-basis: 50%;
  background-image: url('../img/img/landingpage/sobre4.jpg');
  background-position: center;
}

.acordion-four-flujo {
  display: block;
  width: 100%;
  margin-bottom: var(--mgb-sepacion2);
}

.acordion-four-eslabones {
  margin-bottom: var(--mgb-sepacion2);
}

.eslabones-item-titulo {
  display: inline-block;
  color: var(--color-principal);
  font-weight: 700;
  font-size: var(--font-size-subtitle);
  margin-bottom: var(--mgb-list-item);
}

.eslabones__item__titulos {
  margin-bottom: var(--mgb-list-item);
}

.eslabones-item-info-data {
  margin: var(--mgb-list-item) 0;
  display: flex;
  gap: 1rem;
}

.eslabones-item-info-data-imagen1 {
  flex-basis: 40%;
  background-image: url('../img/img/landingpage/sobre4-1-1.jpg');
  background-position: 40%;
}

.eslabones-item-info-data-info1 {
  flex-basis: 60%;
}

.eslabones-item-info-data-info2 {
  flex-basis: 50%;
}

.eslabones-item-info-data-imagen2 {
  flex-basis: 50%;
  background-position: 50% 50%;
}

.eslabones-item-info-data-imagen2-1 {
  flex-basis: 50%;
  background-image: url('../img/img/landingpage/sobre4-1-2.JPG');
  background-position: 50% 100%;
}

.eslabones-item-info-data-imagen2-2 {
  flex-basis: 50%;
  background-image: url('../img/img/landingpage/sobre4-2-1.jpg');
}

.eslabones-item-info-data-imagen2-3 {
  flex-basis: 50%;
  background-image: url('../img/img/landingpage/sobre4-3-1.jpg');
}

.eslabones-item-info-data-imagen2-4 {
  flex-basis: 50%;
  background-image: url('../img/img/landingpage/sobre4-4-1.jpg');
}

/* ACORDION FOUR - BIBLIOGRAFIA */
.acordion-four-bibliografia {
  display: flex;
  overflow: hidden;
  margin: 0 1ren !important;
}

.bibliografia-item {
  flex-basis: 25%;
}

.bibliografia__imagen {
  text-align: center;
  margin-bottom: 10px;
}

.bibliografia__img {
  width: 70px;
  height: 70px;
  display: inline-block !important;
}

.bibliografia__data {
  padding: 0 1rem;
  height: 100%;
  text-align: center;
  border-right: 1px solid var(--color-resaltar);
}

.bibliografia__titulo {
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.4;
}

.bibliografia__texto {
  font-size: 0.6rem;
  font-weight: 400;
  line-height: 1.5;
}

/* FOOTER */
.layout__footer {
  padding: 3rem 5rem;
  padding: var(--pd-y-foot) var(--pd-x-header-foot);
  background-color: var(--color-footer);
  color: var(--color-secondary);
}

.footer__content {
  display: flex;
  justify-content: space-between;
}

.footer__titulo {
  font-size: 1.6rem;
  color: var(--color-terciario);
}

.footer__info {
  display: flex;
  justify-content: space-between;
  gap: 1rem;
}

.footer__info__content {
  margin-top: 1.5rem;
}

.footer__info__titulo {
  font-size: var(--font-size-subtitle);
  margin-bottom: 0.5rem;
  color: var(--color-terciario);
}

.footer__info__data {
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0px;
  color: var(--color-terciario);
  line-height: 1.2;
}

.footer__logos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.5rem;
}

.footer__logo {
  width: 290px;
}

.footer__linea {
  margin: 1rem 0px 2rem 0px;
  border-color: var(--color-secondary);
}

.footer__copy {
  color: var(--color-terciario);
  text-align: center;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0px;
}