:root {
    --color-principal: #498D3E;
    --color-secondary: #fff;
    --color-resaltar: #ED981A;
    --color-text: #333333;
    
    --pd-x-header-foot: 85px;
    --pd-y-header: 20px;
    --pd-y-foot: 60px;
    --mgb-content: 64px;

    --border-radius-img: 16px;

    --font-bebas-bold: 'BebasNeueBold', sans-serif;
    --font-raleway: 'Raleway', sans-serif;



    --color-terciario: #BBBCBF;
    --color-flecha: #CFDA40;
    --color-aux1: #B5C981;
    --color-aux2: #80902E;
    --color-footer: #1E1F24;
    --bg-btn-ir: #9E5647;
    --width-content-layout: 1000px;
    --pd-content-layout: 16px;
    --pd-content: 16px;
    --mgb-list-item: 8px;
    --mgb-sepacion2: 24px;
    --img-gradiente-left: 90deg, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0.3) 60%;
    --img-gradiente-all: 90deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.3) 60%;
    --fonst-size-alert: 0.6rem;
    --fonst-size-acordion: 0.6rem;
    --fonst-size-mensaje: 0.9rem;
}


.sin-borde {
    border: 0 !important;
}
/* BORDER INFERIOR PARA TITULOS */
.border-title-block {
    display: block;
    border-bottom: 3px solid var(--color-resaltar);
}

.border-title-line {
    display: inline-block;
    border-bottom: 3px solid var(--color-resaltar);
    line-height: 2 !important;
    padding-right: 5px;
}
/* CARD DE TEXTO RESALTADO */
.card-resaltar {
    display: inline-block;
    background-color: var(--color-resaltar);
    border-radius: 0px 10px 0px 10px;
    padding: 0.5rem var(--pd-content-layout);
}

.card-resaltar>* {
    font-size: 0.9rem;
    font-weight: 600;
    color: #fff;
}
/* ************************************ */




/* SVG CURVAS */
.curva-content {
    background-image: url('../svg/curva.svg');
    position: absolute;
    left: 0;
    width: 100%;
    height: 40px;
    z-index: 1;
}

.curva-content-top {
    transform: rotate(0deg);
    top: 0;
}

.curva-content-bottom {
    transform: rotate(180deg);
    bottom: 0;
}

/* ********************************** */
/* HOJAS EN LOS EXTREMOS */
.hojas-content {
    position: relative;
}

.hojas-content::before,
.hojas-content::after {
    content: '';
    width: 60px;
    height: 60px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    top: -25px;
}

.hojas-content::before {
    background-image: url('../img/hojaLeft.png');
    left: -70px;
}

.hojas-content::after {
    background-image: url('../img/hojaRigth.png');
    right: -70px;
}

/* ********************************** */
/* HOJA EN EL EXTREMO DERECHO */
.hoja-border {
    position: relative;
    display: inline-block;
    padding-right: 15px;
}

.hoja-border::after {
    content: '';
    width: 40px;
    height: 40px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    transform: rotate(-90deg);
    background-image: url('../img/hojaRigth.png');
    right: -18px;
    bottom: 100%;
}

/* ********************************** */
/* BORDER CON LINEA Y HOJA */
.line-border {
    position: relative;
    display: inline-block;
    border-bottom: 2px solid var(--color-resaltar);
    padding-bottom: 3px;
    padding-right: 15px;
}

.line-border::before {
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: inline-block;
    position: absolute;
    background-image: url('../img/landing/hoja.png');
    right: -18px;
    bottom: -2px;
}

/* ********************************** */
/* LISTA NUMERICA ESTILO PARA LANDING PAGE */
.lista-num-lan {
    list-style: none;
    counter-reset: li;
    margin: 0 18px 0 1rem;
    padding-left: calc(1rem + 3px);
}

.lista-num-lan--border {
    border-left: 1px solid var(--color-principal);
}

.lista-num-lan>li {
    position: relative;
    padding-bottom: 1rem;
    margin-top: 1rem;
}

.lista-num-lan>li::after {
    position: absolute;
    content: counter(li);
    counter-increment: li;
    top: 0;
    left: -2rem;
    color: #fff;
    background: var(--color-resaltar);
    font-weight: bold;
    text-align: center;
    border-radius: 50%;
    font-size: 0.9rem;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
}

/* ********************************** */
.button-ir span {
    display: inline-block;
    color: var(--color-secondary);
    background-color: var(--bg-btn-ir);
    width: 1.5rem;
    height: 1rem;
    text-align: center;
    font-size: 0.6rem;
    line-height: 1rem;
    border-radius: 0 5px 0 5px;
    cursor: pointer;
}

.info-alert {
    font-size: var(--fonst-size-alert);
    padding: 1rem;
    background-color: #F4E7D6;
    border-radius: 0px 14px 0px 14px;
}

.lista-flecha__list {
    list-style: none;
}

.lista-flecha__item {
    font-size: var(--fonst-size-acordion);
    margin-bottom: var(--mgb-list-item);
    display: flex;
    gap: 5px;
}

.lista-flecha__item__span {
    flex-basis: 100%;
}

.header-tab {
    background-color: #668037;
    height: 50px;
    color: #fff;
    font-size: 1rem;
    font-weight: 600;
    line-height: 2.5;
    padding: 0px 4rem;
}